* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    margin: 9px 0px;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0%;
}

#navbar::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar ul {
    align-items: center;
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    display: block;
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: thin;
    color: white;
    margin: 0px 0px;
    padding: 5px 60px;
}

#navbar ul li a:hover {
    display: block;
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 900;
    color: white;
    margin: 0px 0px;
    padding: 0px 60px;
}

#home {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 380px;
}

#home::before {
    content: "";
    background: url("pics/cover3.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 900px;
    z-index: -2;
    opacity: 0.9;
}

#home h1 {
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 9rem;
    font-family: 'Inspiration', cursive;
}

#home h3 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Shadows Into Light', cursive;
}

#photos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

#photos h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
}

#photos .box {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#photos .box .pics {
    display: flex;
    flex-direction: column;
    width: 625px;
}

#photos .box .pics img {
    margin: 10px;
    border-radius: 5px;
}

/* contact section */
#contact {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact::before {
    content: "";
    background: url("pics/contact.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 660px;
    z-index: -2;
    opacity: 0.4;
}

#contact h2 {
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    margin-top: 15px;
}

#contact-box {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#contact-box form {
    margin: 10px auto;
    width: 50%;
}

#contact-box label {
    font-size: 1.4rem;
    font-family: helvetica;
    margin-bottom: 10px;
}

#contact-box input {
    font-family: helvetica;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 10px;
}

#contact-box textarea {
    font-family: helvetica;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 10px;
}

#submit_form {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 1.3rem;
    cursor: pointer;
}